<h1>New User</h1>

<%= form_for @user do |f| %>

  <%=f.label :name %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Submit" %>


<% end %>
