<% @user = current_user %>
<% @list = List.new %>
<h3>
<%= @user.name %>
<%= @user.email %>
</h3>

<%= form_for @list do |f| %>
  Title: <%= f.text_field :title %>
  Description: <%= f.text_field :description %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.submit "Submit" %>
<% end %>

<ul>
<% @user.lists.each do |list| %>
  <li>
    <h3><%=list.title %></h3>
    <h5><%=list.description%></h5>
    <%=link_to "Edit" %>
    <%=link_to "Delete", list_path(list.id), method: :delete %>
  </li>
<% end %>
</ul>
